

.firs2 {
  font-family: "Noto Serif Tamil Slanted" Arial, Helvetica, sans-serif;
  font-size: 5.641025641026vw;
  color: white;
  width: auto;
  font-weight: bold;
  margin-left: 1.28205128051vw;
}




  

.d-hidden{
  visibility: hidden;
}