.Quick-Transfer14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20%;
  left: 0%;
  width: 100vw;
  height: 100%;
  background-color: #112d4a;
}
.can-cel {
  margin-bottom: 92.589743589744vw;
  font-size: 3.589743589744vw;
}
.round-bottomss {
  margin: 1.794871794872vw;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2.051282051282vw;
  height: 2.051282051282vw;
}
.round-bottom2ss {
  margin: 1.794871794872vw;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2.051282051282vw;
  height: 2.051282051282vw;
}
.round-bottom3ss {
  margin: 1.794871794872vw;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2.051282051282vw;
  height: 2.051282051282vw;
}
.round-bottom4ss {
  margin: 1.794871794872vw;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2.051282051282vw;
  height: 2.051282051282vw;
}
.round-bottom5ss {
  margin: 1.794871794872vw;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2.051282051282vw;
  height: 2.051282051282vw;
}
