.sourcee-div3 {
  display: flex;
  width: 342px;
  height: 60px;
  margin-top: 20px;
  align-items: center;
  position: relative;
  border-radius: 8px;
}
.img-100 {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 0px;
}
.img-11 {
  width: 18px;
  height: 18px;
  margin-right: 0px;
  position: absolute;
  right: 10px;
  color: #878787;
}
.h3-333 {
  font-size: 14px;
  margin-right: 17px;
  font-weight: normal;
}
