.otp-div {
  position: relative;
  background-color: rgb(207, 207, 207);
  margin-top: 10%;
  margin-bottom: 10%;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1-otp {
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: 15%;
}
.save-btn2 {
  width: 355px;

  margin-left: 0px;
  font-size: 15px;
  height: 40px;
  font-weight: bolder;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: #fcb600;
}
.input1-otp {
  background-color: #ffffff;
  width: 10%;
  height: 30%;
  outline: none;
  border-color: rgba(0, 0, 0, 0);
  position: absolute;
  border-radius: 0%;
  left: 30%;
  top: 35%;
}
.input1-otp:not(:placeholder-shown) {
    letter-spacing: 0px;
    color:black;
    padding-left: 0%;
}